.image-container {
  width: 90%; /* Menggunakan persentase agar lebih fleksibel */
  max-width: 600px; /* Batas maksimal ukuran */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 50px auto; /* Tengah dengan jarak atas */
  padding-right: 50px;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  transform: translateY(10px);
  opacity: 0; /* Awalnya transparan */
  animation: fadeIn 1.5s ease-in-out forwards; /* Efek fade */
  border-radius: 30px;
}

/* Animasi fade */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .image-container {
    padding-right: 0;
    text-align: center;
  }

  .image-container img {
    width: 90%;
    transform: translateY(5px);
  }
}
